/* CLOUD STYLE */
body {
    padding: 10px;
}
#clouds {
    padding: 100px 0;
    background: #c9dbe9;
    background: -webkit-linear-gradient(top, #c9dbe9 0%, #fff 70%);	
	background: -moz-linear-gradient(top, #c9dbe9 0%, #fff 80%);
}
.cloud {
    width: 200px;
    height: 60px;
    background: #fff;
    border-radius: 200px;
	position: relative; 
}
.cloud:before, .cloud:after {
    content: "";
    position: absolute;
    background: #fff;
    width: 100px;
    height: 80px;
    position: absolute;
    top: -15px;
    left: 10px;
    border-radius: 100px;
	transform: rotate(30deg);
}
.cloud:after {
    width: 120px;
    height: 120px;
    top: -55px;
    left: auto;
    right: 15px;
}
/*Time to animate*/
.x1 {
    animation: moveclouds 15s linear infinite;
}
/*variable speed, opacity, and position of clouds for realistic effect*/
.x2 {
    left: 200px;
	transform: scale(0.6);
	opacity: 0.6; /*opacity proportional to the size*/
    /*Speed will also be proportional to the size and opacity*/
	/*More the speed. Less the time in 's' = seconds*/
	animation: moveclouds 25s linear infinite;
}
.x3 {
    left: -250px;
    top: -200px;
	transform: scale(0.9);
	opacity: 0.9; /*opacity proportional to the size*/
	animation: moveclouds 20s linear infinite;	
}
.x4 {
    left: 470px;
    top: -250px;
    opacity: 0.2; /*opacity proportional to the size*/
	animation: moveclouds 18s linear infinite;
}
.x5 {
	left: -150px; top: -150px;
	transform: scale(0.8);
	opacity: 0.8; /*opacity proportional to the size*/
	animation: moveclouds 20s linear infinite;
}
@keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1000px;}
}
@-moz-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1000px;}
}
@-o-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1000px;}
}
/* ANDROID-LOGO STYLE */
div {
    margin: 0;
    padding: 0;
}
div div {
    background: #a4ca39;
    position: relative;
}
.android {
    height: 404px;
    width: 334px;
    margin: -200px auto;
}
.head {
    width: 220px;
    height: 100px;
    top: 32px;  
    border-radius: 110px 110px 0 0;
}
.left-eye, .right-eye {
    background: #fff;
    width: 20px; 
    height: 20px;
    position: absolute;
    top: 42px;
    border-radius: 10px;
}
.left-eye {
    left: 50px;
}
.right-eye {
    right: 50px;
}
.left-eye:hover {
    background-color: red;
}
.right-eye:hover {
    background-color: red;
}
.left-antenna, .right-antenna {
    width: 6px;
    height: 50px;
    position: absolute;
    top: -34px;
    border-radius: 3px;
}
.left-antenna {
    left: 50px;
    transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
	-moz-transform: rotate(-30deg);
}
.right-antenna {
    right: 50px;
    transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
	-moz-transform: rotate(30deg);
}
.body {
    width: 220px;
    height: 184px;
    top: 40px;
    border-radius: 0 0 25px 25px;
    -webkit-border-radius: 0 0 25px 25px;
	-moz-border-radius: 0 0 25px 25px;
}
.left-arm, .right-arm, .left-leg, .right-leg {
    width: 50px;
    position: absolute;
    transition: all 0.1s ease-in;
}
.left-arm, .right-arm {
    height: 150px;
    border-radius: 25px;
}
.left-leg, .right-leg {
    height: 80px;
    top: 182px;
    border-radius: 0 0 25px 25px;
}
.left-arm {
    left: -58px;
}
.right-arm {
    right: -58px;
}
.left-leg {
    left: 45px;
}
.right-leg {
    right: 45px;
}
.head:hover {
    transform: rotate(-5deg) translate(-4px, -8px);
}
.left-arm:hover {
    transform: rotate(15deg) translate(-14px, 0)
}
.right-arm:hover {
    transform: rotate(-30deg) translate(30px, 0);
}
.left-leg:hover {
    transform: rotate(10deg) translate(-14px, 0)
}
.right-leg:hover {
    transform: rotate(-30deg) translate(30px, 0);
}


