/* STYLE*/
/* ------------------------------------------------- */
body {
   background: var(--background);
   line-height: 1.4;
}
html {
   box-sizing: border-box;
   font-family: open sans;
   color: var(font-dark);
}
.wrapper {
   display: grid;
   margin: 2rem 18rem;
   grid-gap: 20px;
}
:root {
   --font-dark: black;
   --font-light: white;
   --header: #242424;
   --foreground: #26b3b3;
   --background: white;
   --border: solid 7px white
}
h1 {
   font-size: 2.5rem;
   color: white;
   text-align: center;
}
h2 {
   font-size: 1.5rem;
   text-align: center;
}
h3 {
   font-size: 1.6rem;
   font-weight: 600;
   text-align: center;
}
/* HEADER */
#header {
   height: auto;
   background: var(--header);
   padding: 1.2rem .4rem 1.2rem 0;
}
/* LABEL */
#name-label, 
#email-label, 
#number-label, 
#dropdown,
#radio-label,
#checkbox-label,
#message-label
 {
   font-size: 1.1rem;
   margin-top: .6rem;
   display: inline-block;
   font-weight: 600;
}
.radio,
.checkbox{
   font-size: 1.05rem;
}
.inline-radio {
   display: flex;
   margin-top: .4rem;
   margin-left: 1.2rem;
}
input[type=radio],
[type=checkbox] {
   height: 1.2rem;
}
textarea {
   height: 8rem;
}
#survey-form,
#header,
footer {
   border-radius: .5rem;
}
/* MESSAGE */
#survey-form {
   background: var(--foreground);
   padding: 2rem;
}
input,
input[type=text],
select,
textarea {
   width: 100%;
   padding: .5rem;
   border: 1px solid #cbcbcb;
   border-radius: 6px;
   box-sizing: border-box;
   margin-top: 6px;
   margin-bottom: 6px;
   resize: vertical;
}
#message {
   font-size: 1.1rem;
   margin-top: 1rem;
   display: inline-block;
   font-weight: 600;
}
input[type=submit] {
   background-color: #ccc;
   color: #000;
   padding: 12px 20px;
   border: none;
   border-radius: 6px;
   cursor: pointer;
}
input[type=submit]:hover {
   background-color: #242424;
   color: #fff;
}
::placeholder {
   font-size: .9rem;
}
/* SUBMIT */
.button {
   font-weight: 600;
}
/* FOOTER */
footer {
   background: var(--header);
   color: var(--font-light);
   padding: 1.4rem;
   text-align: center;
}
footer p {
   font-size: 1rem;
}
a {
   color: var(--foreground);
   text-decoration: none;
}
a:hover {
   color: var(--background);
}
/*MEDIA QUERYS*/
@media(max-width: 1400px) {
   .wrapper {
      margin: 1.2rem 8rem;
   }
}
@media(max-width:600px) {
   .wrapper {
      margin: 1.1rem 2rem;
   }
   @media(max-width:400px) {
      .wrapper {
         margin: .1rem 1rem;
      }
   }
